@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-4 mt-4">Welcome to the Garage</h1>
   <div id="buttonListStart">
    <p>In this garage you can:</p>
        <div class="list-group">
            <a href="/Vehicles/Create" class="list-group-item list-group-item-action list-group-item-primary mb-2">Park a vehicle <img src="/images/car-side-solid.svg" width="30"/></a>
            <a href="/Vehicles/GarageView" class="list-group-item list-group-item-action list-group-item-primary mb-2">See the garage <img src="/images/warehouse-solid (1).svg" width="30" /></a>
            <a href="/Vehicles/Index" class="list-group-item list-group-item-action list-group-item-primary mb-2">See a list of all vehicles <img src="/images/table-list-solid.svg" width="30" /></a>
            <a href="/Vehicles/Statistics" class="list-group-item list-group-item-action list-group-item-primary">Look at garage statistics <img src="/images/chart-simple-solid.svg" width="30"/></a>
        </div>
    </div>
</div>
